[Unit]
Description = Glances web server
After = network.target
 
[Service]
ExecStart = /usr/bin/glances -w --process-short-name --hide-kernel-threads --fs-free-space --mean-gpu
 
[Install]
WantedBy=multi-user.target
